*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.All_posts{
    display: flex;
    flex-direction: column;
    gap:40px;
    margin-top: 50px;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
h3{
    margin-left: 200px;
    margin-top: 30px;
}
.all_each_post{
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 150px;
    margin-left: 200px;
    justify-content: space-between;
}
.author{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.author_img{
    width: 30px;
    height: 30px;
    border-radius: 20px;
}
.image_post{
    width: 200px;
    height: 150px;
    border-radius: 5px;
}
.des{
    width:400px;
    white-space: normal;
    word-wrap: break-word
}

.datetime{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap:30px;
    
}
.view_more{
    text-decoration: none;
}
